@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(88, 88, 88);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: black;
  color: white;
  height: 50px;
  width: 250px;
  position: absolute;
  margin-bottom: 725px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

#container {
  margin-top: 4.5%;
  width: 1200px;
  height: 700px;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  border: 2px solid black;
}

#sidebar {
  margin-top: -20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid gray;
  width: 225px;
  height: 700px;
}

#mytdl {
  height: 30px;
  color: white;
  text-align: center;
  background-color: black;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  border-top-left-radius: 17.5px;
}

#mylists {
  margin-left: 10px;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid gray;
  margin-top: 12%;
  margin-left: 26%;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: white;
  display: none;
}

#submitbtn {
  width: 80px;
  background-color: black;
  color: white;
  text-decoration: none;
}

input[type="text"] {
  margin: 10px;
}

#listscontainer {
  position: absolute;
  margin: 0;
  margin-left: 225px;
  border-top-right-radius: 20px;
  width: 975px;
}

.lists:not(.deletecontainer) {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid gray;
}

#overheads {
  text-align: center;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid gray;
  border-top-right-radius: 17.5px;
}

.deletecontainer {
  visibility: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 975px;
  position: absolute;
  height: 30px;
  text-align: center;
}
